@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000&family=Poppins:wght@100..900&display=swap');

@font-face {
  font-family: 'Integral-reg';
  src: url('./assets/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-regular.otf');
}
@font-face {
  font-family: 'Integral-bold';
  src: url('./assets/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-bold.otf');
}
